.map_box_container{
    background:#371990;
}

.map_box_container_city{
    padding-left:5%;
    padding-right:5%;
    background:#371990;
}

#map {
    top: 0;
    bottom: 0;
    width: 100%;
}

.mapboxgl-canvas {
    width:auto;
    height:100%!important;
}

select {
    color:black;
}

textarea {
    color:black;
}

#list-forum-posts {
    height:100%!important
}