input {
    color:black;
}

.map_box_container{
    background:#371990;
}

.map_box_container_city{
    padding-left:5%;
    padding-right:5%;
    background:#371990;
}

#map {
    top: 0;
    bottom: 0;
    width: 100%;
}

select {
    color:black;
}

textarea {
    color:black;
}

#list-announcement-posts {
    height:100%!important
}

#add-event-map {
    width:100%!important;
}

.forum-comment {
    display:flex;
    flex-direction: column;
}

.user-avatar-forum-comment {
    display:flex;
    justify-content: center;
    align-items: center;
}

#inputBillingAddressPostalCode::-webkit-outer-spin-button,
#inputBillingAddressPostalCode::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#inputCardNumber::-webkit-outer-spin-button,
#inputCardNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#inputCardSecurityCode::-webkit-outer-spin-button,
#inputCardSecurityCode::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}